{% extends 'base.html' %}
{% block main %}


<section id="coachingview" style="padding:100px 50px">
    <div class="container-lg" style="background: white;padding: 30px 30px;">

            <h2>Audit Details</h2>
            <p>campaign - {{coaching.campaign}}</p>
            <table class="table table-bordered">
                <tr>
                    <td><b>Emp Name</b></td>
                    <td>{{coaching.associate_name}}</td>
                    <td><b>Emp ID</b></td>
                    <td>{{coaching.emp_id}}</td>
                </tr>
                <tr>
                  <td><b>QA</b></td>
                  <td>{{coaching.qa}}</td>
                  <td><b>Team Lead</b></td>
                  <td>{{coaching.team_lead}}</td>
                </tr>
                <tr>
                  <td><b>Call Date</b></td>
                  <td>{{coaching.call_date}}</td>
                    <td><b>Audit Date</b></td>
                  <td>{{coaching.audit_date}}</td>
                </tr>

                <tr>
                  <td><b>Customer Contact</b></td>
                  <td>{{coaching.customer_contact}}</td>
                    <td><b>Outcome</b></td>
                  <td>{{coaching.outcome}}</td>
                </tr>

                <tr>
                  <td><b>Call Duration(seconds)</b></td>
                  <td>{{coaching.call_duration}}</td>
                    <td><b>Score</b></td>
                  <td style="font-size: 14px;font-weight: 600;background: cornsilk;padding-left: 47px;">{{coaching.result}}</td>

                </tr>

            </table>

        <br>

            <h2>Auditor Comments</h2>
            <table class="table table-bordered">
                <tr style="height:110px">
                  <td><b>Comments</b></td>
                  <td>{{coaching.comments}}</td>
                </tr>
            </table>


    </div>
</section>
{% endblock %}