{% extends 'base.html' %}
{% block main %}

    <section id="outboundform">
        <div class="container-lg">
            <form action="/employees/fame-house-new" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">ECPL - Fame House Audit Form</h2>
                <div class="basic">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="empname">Associate Name</label>
                            <select class="form-control" id="empname" required="required" name="empname">

                                <option value="{{agent.emp_name}}">{{agent.emp_name}}</option>

                            </select>
                            <label for="empid">Employee ID</label>
                            <input type="number" class="form-control" id="empid" name="empid" required value="{{agent.emp_id}}">
                        </div>
                        <div class="col-md-4">
                            <label for="qa">Quality Analyst</label>
                            <input type="text" class="form-control" id="qa" name="qa" value="{{user.profile.emp_name}}" required readonly>
                            <label for="tl">Team Lead</label>
                            <input type="text" class="form-control" id="tl" name="tl" required value="{{agent.team_lead}}">
                        </div>
                        <div class="col-md-4">
                            <label for="am">AM</label>
                            <input type="text" class="form-control" id="am" name="am" value="{{agent.am}}" required>
                                <label for="week">Week</label>
                                     <select class="form-control" name="week" id="week" required>
                                         <option value="week1">Week1</option>
                                         <option value="week2">Week2</option>
                                         <option value="week3">Week3</option>
                                         <option value="week4">Week4</option>
                                         <option value="week5">Week5</option>
                                     </select>
                        </div>

                        <div class="col-md-4">
                            <label for="calldate">Ticket Date</label>
                            <input type="date" class="form-control" id="calldate" name="ticketdate" required>
                            <label for="auditdate">Audit Date</label>
                            <input type="date" class="form-control" id="auditdate" name="auditdate" required>
                        </div>
                         <div class="col-md-4">
                            <label for="tickettype">Ticket Type</label>
                             <select class="form-control" id="tickettype" required="required" name="ticket_type">

                                <option value="Address update">Address update</option>
                                <option value="Billing Inquiry">Billing Inquiry</option>
                                <option value="Cancel/Order item">Cancel/Order item</option>
                                 <option value="Change Order request">Change Order request</option>
                                 <option value="Damage">Damage</option>
                                 <option value="Digital Download">Digital Download</option>
                                 <option value="Exchange Request">Exchange Request</option>
                                 <option value="Incorrect item">Incorrect item</option>
                                 <option value="Lost in Transit">Lost in Transit</option>
                                 <option value="Missing Item">Missing Item</option>
                                 <option value="Order Status">Order Status</option>
                                 <option value="Pre-Order Delay">Pre-Order Delay</option>
                                 <option value="Product inquiry">Product inquiry</option>
                                 <option value="Quality Concern">Quality Concern</option>
                                 <option value="Refund Inquiry">Refund Inquiry</option>
                                 <option value="Return request">Return request</option>
                                 <option value="Tracking and shipping Issues">Tracking and shipping Issues</option>
                                 <option value="General Questions/ Others">General Questions/ Others</option>
                                 <option value="Ticketing/Touring/Fan Request">Ticketing/Touring/Fan Request</option>

                            </select>

                            <label for="zone">Ticket Number</label>
                            <input type="text" class="form-control" id="zone" name="ticket_no" required>
                        </div>
                         <div class="col-md-4">
                             <input type="hidden" class="form-control" name="campaign" value="{{agent.process}}">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="customerexperience">
                    <div>
                        <h4>Immediate fails:</h4>
                        <br>
                        <label class="qn">Shipping product incorrectly-wrong item, no exchange just shipping product</label>
                        <input type="radio" name="compliance_1" value="1" id="yes24" required>
                        <label for="yes24">Pass</label>
                        <input type="radio" name="compliance_1" value="0" id="no24">
                        <label for="no24">Fail</label>


                        <br>
                        <label class="qn">Responding to an escalated ticket/any ticket outside of agents skills/assignments</label>
                        <input type="radio" name="compliance_2" value="1" id="yes25" required>
                        <label for="yes25">Pass</label>
                        <input type="radio" name="compliance_2" value="0" id="no25">
                        <label for="no25">Fail</label>


                        <br>
                        <label class="qn">Overly rude to customer</label>
                        <input type="radio" name="compliance_3" value="1" id="yes26" required>
                        <label for="yes26">Pass</label>
                        <input type="radio" name="compliance_3" value="0" id="no26">
                        <label for="no26">Fail</label>


                        <br>
                        <label class="qn">Uses deragatory language or curse words</label>
                        <input type="radio" name="compliance_4" value="1" id="yes27" required>
                        <label for="yes27">Pass</label>
                        <input type="radio" name="compliance_4" value="0" id="no27">
                        <label for="no27">Fail</label>


                        <br>
                        <label class="qn">Not escalating a situation/Not following proper escalation proceedure</label>
                        <input type="radio" name="compliance_5" value="1" id="yes28" required>
                        <label for="yes28">Pass</label>
                        <input type="radio" name="compliance_5" value="0" id="no28">
                        <label for="no28">Fail</label>

                        <br>
                        <label class="qn">Double response-w/o addressing and apologizing, Sending same macro as last agent w/o edits</label>
                        <input type="radio" name="compliance_6" value="1" id="yes29" required>
                        <label for="yes29">Pass</label>
                        <input type="radio" name="compliance_6" value="0" id="no29">
                        <label for="no29">Fail</label>

                    </div>
                </div>
                <hr>
                <div class="customerexperience">
                    <div>
                        <h4>Opening</h4>
                        <br>
                        <label class="qn">Agent sent response as public reply:</label>
                        <input type="radio" name="opening_1" value="1" id="yes1" required>
                        <label for="yes1">Yes</label>
                        <input type="radio" name="opening_1" value="0" id="no1">
                        <label for="no1">No</label>
                        <input type="radio" name="opening_1" value="0" id="na1">
                        <label for="na1">NA</label>

                        <br>
                        <label class="qn">Agent greets customer by correct name:</label>
                        <input type="radio" name="opening_2" value="1" id="yes2" required>
                        <label for="yes2">Yes</label>
                        <input type="radio" name="opening_2" value="0" id="no2">
                        <label for="no2">No</label>
                        <input type="radio" name="opening_2" value="0" id="na2">
                        <label for="na2">NA</label>

                        <br>
                        <label class="qn">Agent thanked the customer for emailing our team:</label>
                        <input type="radio" name="opening_3" value="1" id="yes3" required>
                        <label for="yes3">Yes</label>
                        <input type="radio" name="opening_3" value="0" id="no3">
                        <label for="no3">No</label>
                        <input type="radio" name="opening_3" value="0" id="na3">
                        <label for="na3">NA</label>

                    </div>
                </div>
                <div class="customerexperience">
                    <div>
                        <h4>Customer Issue Resolution </h4>
                        <br>
                        <label class="qn">Agent addressed all questions asked:</label>
                        <input type="radio" name="cir_1" value="1" id="yes4" required>
                        <label for="yes4">Yes</label>
                        <input type="radio" name="cir_1" value="0" id="no4">
                        <label for="no4">No</label>
                        <input type="radio" name="cir_1" value="0" id="na4">
                        <label for="na4">NA</label>

                        <br>
                        <label class="qn">Agent did not deflect/Avoid any questions/Policy unnecessarily:</label>
                        <input type="radio" name="cir_2" value="1" id="yes5" required>
                        <label for="yes5">Yes</label>
                        <input type="radio" name="cir_2" value="0" id="no5">
                        <label for="no5">No</label>
                        <input type="radio" name="cir_2" value="0" id="na5">
                        <label for="na5">NA</label>

                        <br>
                        <label class="qn">Agent conveyed correct policy information to the customer: </label>
                        <input type="radio" name="cir_3" value="1" id="yes6" required>
                        <label for="yes6">Yes</label>
                        <input type="radio" name="cir_3" value="0" id="no6">
                        <label for="no6">No</label>
                        <input type="radio" name="cir_3" value="0" id="na6">
                        <label for="na6">NA</label>

                        <br>
                        <label class="qn">Agent conveyed correct product information to the customer: </label>
                        <input type="radio" name="cir_4" value="1" id="yes7" required>
                        <label for="yes7">Yes</label>
                        <input type="radio" name="cir_4" value="0" id="no7">
                        <label for="no7">No</label>
                        <input type="radio" name="cir_4" value="0" id="na7">
                        <label for="na7">NA</label>

                        <br>
                        <label class="qn">Agent established correct timeline to resolution :</label>
                        <input type="radio" name="cir_5" value="1" id="yes8" required>
                        <label for="yes8">Yes</label>
                        <input type="radio" name="cir_5" value="0" id="no8">
                        <label for="no8">No</label>
                        <input type="radio" name="cir_5" value="0" id="na8">
                        <label for="na8">NA</label>
                    </div>

                </div>

                <div class="customerexperience">
                    <div>
                        <h4>Macro Usage</h4>
                        <br>
                        <label class="qn">Agent chose correct macro:</label>
                        <input type="radio" name="macro_1" value="1" id="yes9" required>
                        <label for="yes9">Yes</label>
                        <input type="radio" name="macro_1" value="0" id="no9">
                        <label for="no9">No</label>
                        <input type="radio" name="macro_1" value="0" id="na9">
                        <label for="na9">NA</label>

                        <br>
                        <label class="qn">Agent tailored macro to fit the customer's question:</label>
                        <input type="radio" name="macro_2" value="1" id="yes10" required>
                        <label for="yes10">Yes</label>
                        <input type="radio" name="macro_2" value="0" id="no10">
                        <label for="no10">No</label>
                        <input type="radio" name="macro_2" value="0" id="na10">
                        <label for="na10">NA</label>
                    </div>
                </div>

                <div class="customerexperience">
                    <div>
                        <h4>Formatting</h4>
                        <br>
                        <label class="qn">Agent composed email with logical flow/Does the information contained make sense?</label>
                        <input type="radio" name="formatting_1" value="1" id="yes11" required>
                        <label for="yes11">Yes</label>
                        <input type="radio" name="formatting_1" value="0" id="no11">
                        <label for="no11">No</label>
                        <input type="radio" name="formatting_1" value="0" id="na11">
                        <label for="na11">NA</label>

                        <br>
                        <label class="qn">Agent presented information with clear formatting: correct spelling and grammar throughout response</label>
                        <input type="radio" name="formatting_2" value="1" id="yes12" required>
                        <label for="yes12">Yes</label>
                        <input type="radio" name="formatting_2" value="0" id="no12">
                        <label for="no12">No</label>
                        <input type="radio" name="formatting_2" value="0" id="na12">
                        <label for="na12">NA</label>

                        <br>
                        <label class="qn">All company processes and policies were followed</label>
                        <input type="radio" name="formatting_3" value="1" id="yes13" required>
                        <label for="yes13">Yes</label>
                        <input type="radio" name="formatting_3" value="0" id="no13">
                        <label for="no13">No</label>
                        <input type="radio" name="formatting_3" value="0" id="na13">
                        <label for="na13">NA</label>

                    </div>
                </div>

                <div class="customerexperience">
                    <div>
                        <h4>Documentation </h4>
                        <br>
                        <label class="qn">Agent Correctly submitted ticket: Pending/On-Hold/Open/Solved</label>
                        <input type="radio" name="doc_1" value="1" id="yes14" required>
                        <label for="yes14">Yes</label>
                        <input type="radio" name="doc_1" value="0" id="no14">
                        <label for="no14">No</label>
                        <input type="radio" name="doc_1" value="0" id="na14">
                        <label for="na14">NA</label>

                        <br>
                        <label class="qn">Agent filled out left hand side of ticket Correctly:</label>
                        <input type="radio" name="doc_2" value="1" id="yes15" required>
                        <label for="yes15">Yes</label>
                        <input type="radio" name="doc_2" value="0" id="no15">
                        <label for="no15">No</label>
                        <input type="radio" name="doc_2" value="0" id="na15">
                        <label for="na15">NA</label>

                        <br>
                        <label class="qn">Agent merged tickets properly:</label>
                        <input type="radio" name="doc_3" value="1" id="yes16" required>
                        <label for="yes16">Yes</label>
                        <input type="radio" name="doc_3" value="0" id="no16">
                        <label for="no16">No</label>
                        <input type="radio" name="doc_3" value="0" id="na16">
                        <label for="na16">NA</label>

                        <br>
                        <label class="qn">Agent completed all SH process correctly:</label>
                        <input type="radio" name="doc_4" value="1" id="yes17" required>
                        <label for="yes17">Yes</label>
                        <input type="radio" name="doc_4" value="0" id="no17">
                        <label for="no17">No</label>
                        <input type="radio" name="doc_4" value="0" id="na17">
                        <label for="na17">NA</label>

                    </div>
                </div>

                <div class="customerexperience">
                    <div>
                        <h4>Etiquette</h4>
                        <br>
                        <label class="qn">The agent was not rude, insulting, or discouraging:</label>
                        <input type="radio" name="et_1" value="1" id="yes18" required>
                        <label for="yes18">Yes</label>
                        <input type="radio" name="et_1" value="0" id="no18">
                        <label for="no18">No</label>
                        <input type="radio" name="et_1" value="0" id="na18">
                        <label for="na18">NA</label>

                        <br>
                        <label class="qn">Agent validated the customer's concern / questions / reason for contacting us:</label>
                        <input type="radio" name="et_2" value="1" id="yes19" required>
                        <label for="yes19">Yes</label>
                        <input type="radio" name="et_2" value="0" id="no19">
                        <label for="no19">No</label>
                        <input type="radio" name="et_2" value="0" id="na19">
                        <label for="na19">NA</label>

                        <br>
                        <label class="qn">Agent offered genuine, sympathetic statement for all loss or perceived loss of service at the first opportunity:</label>
                        <input type="radio" name="et_3" value="1" id="yes20" required>
                        <label for="yes20">Yes</label>
                        <input type="radio" name="et_3" value="0" id="no20">
                        <label for="no20">No</label>
                        <input type="radio" name="et_3" value="0" id="na20">
                        <label for="na20">NA</label>

                        <br>
                        <label class="qn">Agent did not accuse or place blame on the customer: </label>
                        <input type="radio" name="et_4" value="1" id="yes21" required>
                        <label for="yes21">Yes</label>
                        <input type="radio" name="et_4" value="0" id="no21">
                        <label for="no21">No</label>
                        <input type="radio" name="et_4" value="0" id="na21">
                        <label for="na21">NA</label>

                    </div>
                </div>

                <div class="customerexperience">
                    <div>
                        <h4>Closing:</h4>
                        <br>
                        <label class="qn">Agent asked the customer if they could be of additional help:</label>
                        <input type="radio" name="closing_1" value="1" id="yes22" required>
                        <label for="yes22">Yes</label>
                        <input type="radio" name="closing_1" value="0" id="no22">
                        <label for="no22">No</label>
                        <input type="radio" name="closing_1" value="0" id="na22">
                        <label for="na22">NA</label>

                        <br>
                        <label class="qn">Agent used an appropriate closing:</label>
                        <input type="radio" name="closing_2" value="1" id="yes23" required>
                        <label for="yes23">Yes</label>
                        <input type="radio" name="closing_2" value="0" id="no23">
                        <label for="no23">No</label>
                        <input type="radio" name="closing_2" value="0" id="na23">
                        <label for="na23">NA</label>


                    </div>
                </div>


                <hr>
                <div class="other">

                    <h4>Areas of improvement</h4>
                    <textarea name="areaimprovement" id="areaimp" cols="30" rows="5" class="form-control" required></textarea>
                    <br>
                    <h4>Positives</h4>
                    <textarea name="positives" id="positives" cols="30" rows="5" class="form-control" required></textarea>
                    <br>
                    <h4>Comments</h4>
                    <textarea name="comments" id="cfeedback" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div style="padding: 30px 30px">
                    <button class="btn btn-info"> Submit </button>
                </div>

            </form>
        </div>
    </section>


{% endblock %}