{% extends 'base.html' %}
{% block main %}

    <section id="outboundform">
        <div class="container-lg">
            <form action="/employees/Monitoring-Form-Leads-Advance-Consultant" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">Monitoring Form Leads Advance Consultant</h2>
                <div class="basic">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="empname">Associate Name</label>
                            <select class="form-control" id="empname" required="required" name="empname">

                                <option value="{{agent.emp_name}}">{{agent.emp_name}}</option>

                            </select>
                            <label for="empid">Employee ID</label>
                            <input type="number" class="form-control" id="empid" name="empid" required value="{{agent.emp_id}}">
                        </div>
                        <div class="col-md-4">
                            <label for="qa">Quality Analyst</label>
                            <input type="text" class="form-control" id="qa" name="qa" value="{{user.profile.emp_name}}" required>
                            <label for="tl">Team Lead</label>
                            <input type="text" class="form-control" id="tl" name="tl" required value="{{agent.team_lead}}">
                        </div>
                        <div class="col-md-4">
                            <label for="customer">Customer Name</label>
                            <input type="text" class="form-control" id="customer" name="customer" required>
                            <label for="customercontact">Customer Contact</label>
                            <input type="number" class="form-control" id="customercontact" name="customercontact" required>
                        </div>
                        <div class="col-md-4">
                            <label for="calldate">Call Date</label>
                            <input type="date" class="form-control" id="calldate" name="calldate" required>
                            <label for="auditdate">Audit Date</label>
                            <input type="date" class="form-control" id="auditdate" name="auditdate" required>
                        </div>
                         <div class="col-md-4">
                             <input type="hidden" class="form-control" name="campaign" value="{{agent.process}}">


                            <label for="zone">Zone</label>
                            <input type="text" class="form-control" id="zone" name="zone" required>
                        </div>
                         <div class="col-md-4">
                            <label for="concept">Concept</label>
                            <input type="text" class="form-control" id="concept" name="concept" required>
                             <label for="duration">Call Duration</label>
                            <input type="text" class="form-control" id="duration" name="duration" required>

                        </div>
                        <div class="col-md-4">
                            <label for="am">AM</label>
                            <input type="text" class="form-control" id="am" name="am" value="{{agent.am}}" required>
                                <label for="week">Week</label>
                                     <select class="form-control" name="week" id="week" required>
                                         <option value="week1">Week1</option>
                                         <option value="week2">Week2</option>
                                         <option value="week3">Week3</option>
                                         <option value="week4">Week4</option>
                                         <option value="week5">Week5</option>
                                     </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="customerexperience">
                    <div>
                        <h4>Opening and Closing</h4>
                        <br>
                        <label class="qn">Used Standard Opening Protocol</label>
                        <input type="radio" name="oc_1" value="3" id="yes4" required>
                        <label for="yes4">Yes</label>
                        <input type="radio" name="oc_1" value="0" id="no4">
                        <label for="no4">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Introduction of Product / Branding</label>
                        <input type="radio" name="oc_2" value="4" id="yes5" required>
                        <label for="yes5">Yes</label>
                        <input type="radio" name="oc_2" value="0" id="no5">
                        <label for="no5">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Call Closing as per the Protocol</label>
                        <input type="radio" name="oc_3" value="3" id="yes6" required>
                        <label for="yes6">Yes</label>
                        <input type="radio" name="oc_3" value="0" id="no6">
                        <label for="no6">No</label>
                    </div>
                    <br>
                </div>
                <hr>
                <div class="business">
                    <div>
                        <h4>Softskills</h4>
                        <br>
                        <label class="qn">Followed Hold Procedure Appropriately/Dead Air</label>
                        <input type="radio" name="softskill_1" value="5" id="b1" required>
                        <label for="b1">Yes</label>
                        <input type="radio" name="softskill_1" value="0" id="b2">
                        <label for="b2">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Used Empathetic Statements whenever required</label>
                        <input type="radio" name="softskill_2" value="5" id="s3" required>
                        <label for="s3">Yes</label>
                        <input type="radio" name="softskill_2" value="0" id="s4">
                        <label for="s4">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Clear Grammar & Communication</label>
                        <input type="radio" name="softskill_3" value="5" id="s5" required>
                        <label for="s5">Yes</label>
                        <input type="radio" name="softskill_3" value="0" id="s6">
                        <label for="s6">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Acknowledged Appropriately</label>
                        <input type="radio" name="softskill_4" value="5" id="s7" required>
                        <label for="s7">Yes</label>
                        <input type="radio" name="softskill_4" value="0" id="s8">
                        <label for="s8">No</label>
                    </div>
                    <br>
                     <div>
                        <label class="qn">Active Listening without Interruption</label>
                        <input type="radio" name="softskill_5" value="10" id="good" required>
                        <label for="good">Good</label>
                        <input type="radio" name="softskill_5" value="5" id="avg">
                        <label for="avg">Average</label>
                         <input type="radio" name="softskill_5" value="0" id="poor">
                        <label for="poor">Poor</label>
                    </div>
                    <br>
                </div>
                <div class="compliance">
                    <div>
                        <h4>Business & Compliance</h4>
                        <br>
                        <label class="qn">Followed Policy & Procedure (Script)</label>
                        <input type="radio" name="compliance_1" value="10" id="yes1" required>
                        <label for="yes1">Yes</label>
                        <input type="radio" name="compliance_1" value="0" id="no1">
                        <label for="no1">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Probing/Tactful finding/Rebuttal</label>
                        <input type="radio" name="compliance_2" value="10" id="yes2" required>
                        <label for="yes2">Yes</label>
                        <input type="radio" name="compliance_2" value="0" id="no2">
                        <label for="no2">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Accurate Documentation</label>
                        <input type="radio" name="compliance_3" value="10" id="yes3" required>
                        <label for="yes3">Yes</label>
                        <input type="radio" name="compliance_3" value="0" id="no3">
                        <label for="no3">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Disposition done correctly</label>
                        <input type="radio" name="compliance_4" value="10" id="c4" required>
                        <label for="c4">Yes</label>
                        <input type="radio" name="compliance_4" value="0" id="c5">
                        <label for="c5">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Inaccurate Information</label>
                        <input type="radio" name="compliance_5" value="10" id="c6" required>
                        <label for="c6">Yes</label>
                        <input type="radio" name="compliance_5" value="0" id="c7">
                        <label for="c7">No</label>
                    </div>
                    <br>
                    <div>
                        <label class="qn">Advisor Sounding Rude / Proafinity Usage</label>
                        <input type="radio" name="compliance_6" value="10" id="c8" required>
                        <label for="c8">Yes</label>
                        <input type="radio" name="compliance_6" value="0" id="c9">
                        <label for="c9">No</label>
                    </div>
                    <br>
                </div>
                <hr>
                <div class="other">

                    <h4>Areas of improvement</h4>
                    <textarea name="areaimprovement" id="areaimp" cols="30" rows="5" class="form-control" required></textarea>
                    <br>
                    <h4>Positives</h4>
                    <textarea name="positives" id="positives" cols="30" rows="5" class="form-control" required></textarea>
                    <br>
                    <h4>Comments</h4>
                    <textarea name="comments" id="cfeedback" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div style="padding: 30px 30px">
                    <button class="btn btn-info"> Submit </button>
                </div>

            </form>
        </div>
    </section>


{% endblock %}