{% extends 'base.html' %}
{% block main %}

    {% load crispy_forms_tags %}

    <div class="container-lg">
        <div class="col-md-6">

            <div class="loginform">
                <h2 class="form-header">Feedback Form</h2>
                <h4>{{user.profile.emp_name}}</h4>
                <form class="login-form" action="/employees/addcoaching" method="post">
                {% csrf_token %}
                    <label for="ticket_no">Ticket Number:</label><br>
                    <input type="text" id="ticket_no" name="ticket_no"><br>
                    <label for="feedback">Feedback:</label><br>
                    <textarea id="feedback" name="feedback" ></textarea><br>
                    <input type="hidden" name="qa" value="{{ user.profile.emp_name }}">

                    <label for="agent">Select Agent:</label><br>
                    <select id="agent" name="agent">
                            {% for user in users %}
                            <option value="{{user.profile.emp_name}}">{{user.profile.emp_name}}({{user.profile.emp_id}})</option>
                            {% endfor %}
                    </select><br>
                    <input class="btn btn-info" type="submit" value="Submit">

                </form>
            </div>
        </div>
        <div class="col-md-6">




        </div>
    </div>
{% endblock %}