{% extends 'base.html' %}
{% block main %}
<section id="profile">
    <div class="container-lg">
        <div class="row">

                            <div class="col-md-8" style="padding: 50px 30px">
                                <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 200px">Emp Profile</h2>
                                <br>
                                <div style="margin-left:10px" class="agentinfo">
                                    <small>Employee Name : </small><span>{{user.profile.emp_name}}</span><br>
                                    <small>Department : </small><span>{{user.profile.team}}</span><br>
                                    <small>Employee ID : </small><span>{{user.profile.emp_id}}</span><br>
                                    <small>QA Email ID : </small><span>{{team.qa.profile.email}}</span><br>
                                    <small>Manager Email ID :</small><span>{{team.mgr.profile.email}}</span>
                                </div>
                            </div>

                            <div class="col-md-4" style="padding: 50px 30px">
                                <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 231px">Total Coachings</h2>
                                <br>
                                <p><a href="">{{chat_counts}}</a></p>
                                <p><a href="">{{email_counts}}</a></p>
                                <p><a href="">{{in_counts}}</a></p>
                                <p><a href="">{{out_counts}}</a></p>
                                <small style="color:grey">Open status</small><span style="color:White;margin-left:10px">{{opencounts}}</span>

                            </div>
        </div>
    </div>

</section>


<section style="padding-top:70px">
    <div class="container-lg">
        <h2 class="text-center">All Coachings </h2><br>
        <div class="row">

                {% for coaching in out_coachings %}
                <div class="col-md-6">
                <div class="card" style="background:#203850; margin-bottom:20px">
                  <div class="card-body">
                    <h5 class="card-title">{{coaching.associate_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{coaching.audit_date}}</h6>
                    <p class="card-text">{{coaching.snippet}}</p>
                    <a href="#" class="card-link">View</a>
                  </div>
                </div>
                </div>

                {% endfor %}

        </div>
    </div>
</section>

<section style="padding-top:70px">
    <div class="container-lg">
        <h2 class="text-center">Open Coachings </h2><br>
        <div class="row">


            {% for coaching in open_in %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body">
                        <h5 class="card-title">{{coaching.associate_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{coaching.audit_date}}</h6>
                        <p class="card-text">{{coaching.comments}}</p>
                        <a href="/employees/coaching/{{coaching.id}}" class="card-link">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}

            {% for coaching in open_out %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body">
                        <h5 class="card-title">{{coaching.associate_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{coaching.audit_date}}</h6>
                        <p class="card-text">{{coaching.comments}}</p>
                        <a href="/employees/coaching/{{coaching.id}}" class="card-link">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}

            {% for coaching in open_email %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body">
                        <h5 class="card-title">{{coaching.associate_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{coaching.audit_date}}</h6>
                        <p class="card-text">{{coaching.comments}}</p>
                        <a href="/employees/coaching/{{coaching.id}}" class="card-link">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}

            {% for coaching in open_chat %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body">
                        <h5 class="card-title">{{coaching.associate_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{coaching.audit_date}}</h6>
                        <p class="card-text">{{coaching.comments}}</p>
                        <a href="/employees/coaching/{{coaching.id}}" class="card-link">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
</section>


{% endblock %}