{% extends 'base.html' %}
{% block main %}
{% load static %}
<section id="profile">
    <div class="container-lg">
        <div class="row">

                            <div class="col-md-8" style="padding: 110px 30px">
                              <h1 style="color:darkgray">Quality Dashboard</h1>
                            </div>

                            <div class="col-md-4" style="padding: 50px 30px">

                            </div>
        </div>
        <span style="color:white"><small style="color:grey">Employee Name :</small>{{user.profile.emp_name}}</span>
        <span style="color:white"><small style="color:grey">Employee ID :</small>{{user.profile.emp_id}}</span>
        <span style="color:white"><small style="color:grey">Email Address :</small>{{user.profile.email}}</span>
        <span style="color:white"><small style="color:grey">Team :</small>{{user.profile.team}}</span>
        <span style="color:white"><small style="color:grey">Designation :</small>{{user.profile.emp_desi}}</span>
    </div>

</section>


<section style="padding-top:70px" id="empopencoachins">
    <div class="container-lg">
        <h2>Open Coachings </h2><br>
        <div class="row">



            {% for coaching in open_eva_chat %}
                <div class="col-md-4">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Campaign</small>{{coaching.campaign}}</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Audit By</small>{{coaching.qa}}</h4>
                          <a href="/employees/coaching-view-eva-chat/{{coaching.id}}" class="card-link" style="color: greenyellow">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% for coaching in open_pod_chat %}
                <div class="col-md-4">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Campaign</small>{{coaching.campaign}}</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Audit By</small>{{coaching.qa}}</h4>
                          <a href="/employees/coaching-view-pod-chat/{{coaching.id}}" class="card-link" style="color: greenyellow">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% for coaching in open_inbound %}
                <div class="col-md-4">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Campaign</small>{{coaching.campaign}}</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Audit By</small>{{coaching.qa}}</h4>
                          <a href="/employees/coaching-view-pod-chat/{{coaching.id}}" class="card-link" style="color: greenyellow">View</a>
                      </div>
                    </div>
                </div>
            {% endfor %}



        </div>
    </div>
</section>

<section id="coachingsummary" style="background: #011c38;padding: 60px 100px;margin-top: 50px">
    <div class="container-lg">
         <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 287px">Coaching Summary</h2>
                                        <br>
                                <div class="row" style="padding:0px 100px;">

                                    <div class="col-md-6">
                                        <h4>Outbound</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{out_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{open_out_count}}</span>
                                        <hr>
                                        <h4>Inbound</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{in_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{open_in_count}}</span>
                                        <hr>
                                        <h4>Survey</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{survey_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{open_survey_count}}</span>
                                    </div>


                                    <div class="col-md-6">
                                        <h4>Email</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{email_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{open_email_count}}</span>
                                        <hr>
                                        <h4>Chat</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{chat_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{open_chat_count}}</span>
                                    </div>
                                </div>
    </div>
</section>
<section id="monthwise">
    <div class="container-fluid">
        <h2>Monthwise Report</h2>
        <div class="row">
            <div class="col-md-4">
                <h4>Month1</h4>
            </div>
            <div class="col-md-4">
                <h4>Month1</h4>
            </div>
            <div class="col-md-4">
                <h4>Month1</h4>
            </div>
        </div>
    </div>

</section>





{% endblock %}