{% extends 'base.html' %}
{% block main %}
{% load static %}

<section class="profile_1" style="background-image: url(/static/images/dashboard.jpg);height: 300px;background-size: cover;"">

    <div class="container-fluid" style="background: #101c48;opacity: 77%;height: 300px">
        <div style="padding: 50px 40px">
            <h4 style="color:white;float:right;">Quality Dashboard</h4>

        </div>
        <div class="agentprofile" style="padding: 50px 40px">
            <span style="color:white"><small style="color:#ffeb3b">Employee Name :</small>{{user.profile.emp_name}}</span>
            <span style="color:white"><small style="color:#ffeb3b">Employee ID :</small>{{user.profile.emp_id}}</span>
            <span style="color:white"><small style="color:#ffeb3b">Email Address :</small>{{user.profile.email}}</span>
            <span style="color:white"><small style="color:#ffeb3b">Team :</small>{{user.profile.team}}</span>
            <span style="color:white"><small style="color:#ffeb3b">Designation :</small>{{user.profile.emp_desi}}</span>
        </div>

    </div>
</section>

<section>
    <div class="container-lg">
        <h2 style="margin-top:60px;margin-left:50px;">Quality Details</h2>
    </div>
</section>



<div class="container-lg" style="margin-top:50px">

<div class="row">

        <div class="col-md-4">

            <form action="/employees/agenthome" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="">Choose Month</label>
                    <select name="month" id="" class="form-control">
                        <option value="1" class="form-control">Jan</option>
                        <option value="2" class="form-control">Feb</option>
                        <option value="3" class="form-control">March</option>
                        <option value="4" class="form-control">April</option>
                        <option value="5" class="form-control">May</option>
                        <option value="6" class="form-control">June</option>
                        <option value="7" class="form-control">July</option>
                        <option value="8" class="form-control">August</option>
                        <option value="9" class="form-control">September</option>
                        <option value="10" class="form-control">October</option>
                        <option value="11" class="form-control">November</option>
                        <option value="12" class="form-control">Dec</option>
                    </select>
                    <label for="">Choose Year</label>
                    <select name="year" id="" class="form-control">
                        <option value="2021" class="form-control">2021</option>
                    </select>
                    <br>
                    <button class="btn btn-info">View</button>
                </form>

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3" style="margin: 20px;box-shadow: 1px 1px 10px #423e55;padding: 20px;background: #101c48">
            <h6 style="color:grey">Quality Score</h6>
            <br>
            {% for i in avg_campaignwise %}
                {% for j in i %}
                <div>

                    <span style="font-weight: 600;color: white;font-size:25px">{{j.davg|floatformat:2}}%</span>

                </div>

                {% endfor %}
            {% endfor%}

        </div>
        <div class="col-md-3" style="margin: 20px;box-shadow: 1px 1px 10px #423e55;padding: 20px;background: #101c48">
            <h6 style="color:grey">Failed Audits</h6>
            <br>
            {% for i in camp_wise_count %}
                {% for j in i %}
                <div>

                    <span style="font-weight: 600;color: white;font-size:25px">{{j.dcount}}</span>

                </div>

                {% endfor %}
            {% endfor%}
        </div>
        <div class="col-md-3" style="margin: 20px;box-shadow: 1px 1px 10px #423e55;padding: 20px;background: #101c48">
            <h6 style="color:grey">Fatal</h6>
            <br>
            {% for i in fatal_list %}
                {% for j in i %}
                <div>

                    <span style="font-weight: 600;color: white;font-size:25px">{{j.dcount}}</span>

                </div>

                {% endfor %}
            {% endfor%}
        </div>
            </div>
        </div>



     </div>

</div>

<section style="padding:100px 0px">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <div style="padding: 20px;color:black;">
                        <div class="container-lg">
                            <div class="row">
                                <div class="col-md-6" style="padding: 20px 20px">
                                    <div>
                                        <h2 style="color:grey">View Feedbacks</h2>
                                        <br>
                                        <form action="/employees/campaign-wise-coaching-view-agent" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <h6>Campaign</h6>
                                            <select name="team_id" id="camp" class="form-control" style="width: 300px;font-size: 12px;height:auto;">
                                                {% for team in teams %}
                                                <option value="{{team.id}}">{{team.name}}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <h6>status</h6>
                                            <select name="status" id="" class="form-control" style="width: 300px;font-size: 12px;height: auto">
                                                <option value="all">All</option>
                                                <option value="False">Open status</option>
                                            </select><br>
                                            <h6>Date</h6>
                                            <label for="">From</label>
                                            <input type="date" name="start_date" class="form-control" style="width: 300px;font-size: 10px;height: auto">
                                            <label for="">To</label>
                                            <input type="date" name="end_date" class="form-control" style="width: 300px;font-size: 10px;height: auto">
                                            <input type="hidden" name="category" value="agent">
                                            <input type="hidden" name="emp_name" value="{{user.profile.emp_name}}">
                                            <br>
                                            <button class="btn btn-secondary" class="form-control">submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5" style="margin-top:50px">
                 <h5 style="color: #101c48;font-size: 24px;font-weight: 600">List of Open Coachings</h5>
                <br>
                    <div class="row" style="overflow: scroll;height: 300px;">
                        <table class="table" style="background: #272a4c;color: white">
                            <tr style="background: black;color: darkgoldenrod">
                                <th>Date</th>
                                <th>Score</th>
                                <th>Result</th>
                                <th>Ticket No</th>
                                <th></th>
                            </tr>

                            {% for i in open_coaching %}
                                {% for j in i %}
                            <tr style="line-height: 2px">
                                <td>{{j.audit_date}}</td>
                                <td>{{j.overall_score}}</td>
                                {% if j.overall_score < 100 %}
                                <td>Fail</td>
                                {% else %}
                                <td>Pass</td>
                                {% endif %}
                                <td>{{j.ticket_no}}</td>
                                <td><a href="/employees/coaching-view-emp/{{j.process}}/{{j.id}}"><br>View</a></td>
                            </tr>


                                {% endfor %}
                            {% endfor %}

                        </table>
                    </div>
                <br>
                <h5 style="color:grey">List of Dispute Coachings</h5>
                <br>
                <div class="row" style="overflow: scroll;height: 300px;">
                        <table class="table" style="background: #272a4c;color: white">
                            <tr style="background: black;color: darkgoldenrod">
                                <th>Date</th>
                                <th>Score</th>
                                <th>Result</th>
                                <th>Ticket No</th>
                                <th></th>
                            </tr>

                            {% for i in disput_coaching %}
                                {% for j in i %}
                            <tr style="line-height: 2px">
                                <td>{{j.audit_date}}</td>
                                <td>{{j.overall_score}}</td>
                                {% if j.overall_score < 100 %}
                                <td>Fail</td>
                                {% else %}
                                <td>Pass</td>
                                {% endif %}
                                <td>{{j.ticket_no}}</td>
                                <td><a href="/employees/coaching-view-emp/{{j.process}}/{{j.id}}"><br>View</a></td>
                            </tr>

                                {% endfor %}
                            {% endfor %}

                        </table>
                    </div>

        </div>

    </div>
    </div>
</section>

 <span class="vertical-line"></span>


{% endblock %}