{% extends 'base.html' %}
{% block main %}
{% load static %}

<section>
    <div class="container-lg" style="padding: 0px 300px;margin-top:150px">
        <h2>Campaign - {{team}}</h2><br>
        <form action="/employees/add-coaching" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="agent">Select Employee</label>
            <select name="agent" id="agent" class="form-control">
                {% for agent in agents %}
                <option value="{{agent.emp_name}}" class="form-control">{{agent.emp_name}}-{{agent.emp_id}}</option>
                {% endfor %}
            </select><br>
            <label for="">Audit Form</label>
            <input class="form-control" type="text" name="audit_form" value="{{team}}" readonly>
            <br>
            <input type="hidden" value="{{team}}" name="team">

            <button class="btn btn-info">Add Coaching</button>
        </form>
    </div>
</section>



{% endblock %}