{% extends 'base.html' %}
{% block main %}
{% load static %}

<section>
    <div class="container-lg" style="margin-top:100px">
        <div>
            <table class="table">
                <tr>
                  <th>Emp Name</th>
                    <th>Emp ID</th>
                    <th>Audit Date</th>
                    <th>Campaign</th>
                    <th>QA</th>
                    <th>Overall Score</th>
                </tr>

                {% for i in coaching_list %}
                {% for j in i %}
                <tr>
                    <td>{{j.associate_name}}</td>
                    <td>{{j.emp_id}}</td>
                    <td>{{j.audit_date}}</td>
                    <td>{{j.process}}</td>
                    <td>{{j.added_by}}</td>
                    <td>{{j.overall_score}}</td>
                    <td><a href="/employees/coaching-view-qa-all/{{j.process}}/{{j.id}}">View</a></td>
                </tr>

                {% endfor %}
                {% endfor %}

            </table>
        </div>
    </div>
</section>


{% endblock %}