{% extends 'base.html' %}
{% block main %}
{% load static %}

<section>
    <div class="container-lg" style="padding: 0px 300px;margin-top:150px">
        <h2>Campaign - {{team.name}}</h2><br>
        <form action="/employees/add-coaching" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="agent">Select Employee</label>
            <select name="agent" id="agent" class="form-control">
                {% for agent in agents %}
                <option value="{{agent.emp_name}}" class="form-control">{{agent.emp_name}}</option>
                {% endfor %}
            </select><br>
            <label for="">Choose Audit Form</label>
            <select name="audit_form" id="" class="form-control">
                <option value="eva-chat" class="form-control">Chat Monitoring Form - Eva - Novo</option>
                <option value="pod-chat" class="form-control">Chat Monitoring Form - Pod - Father</option>
                <option value="inbound-call" class="form-control">Inbound Call Monitoring Form Nucleus Media</option>
                <option value="fame-house" class="form-control">Fame House Monitoring Form</option>
                <option value="FLA" class="form-control">FLA Monitoring Form</option>
                <option value="lead-sales">Master Monitoring Form - MT Cosmetics</option>
                <option value="email-chat">Master Monitoring Form - Tonn Chats _ Email</option>
                <option value="mov-ins">Master Monitoring Form - Movement Insurance</option>
                <option value="wit-digital">Wit Digital Mastering Monitoring Form</option>
                <option value="pix-chat-email">Printer Pix Master Monitoring Form-Chats-Email</option>
                <option value="pix-inbound">Printer Pix Master Monitoring Form - Inbound Calls</option>

            </select><br><br>
            <input type="hidden" value="{{team.name}}" name="team">

            <button class="btn btn-info">Add Coaching</button>
        </form>
    </div>
</section>


{% endblock %}