{% extends 'base.html' %}
{% block main %}


<section id="coachingciew">
<div class="container-lg">

    <div class="row">

       <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td><b>Emp Name</b></td>
              <td>{{coaching.associate_name}}</td>
              <td><b>Emp ID</b></td>
              <td>{{coaching.emp_id}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td><b>QA</b></td>
              <td>{{coaching.qa}}</td>
              <td><b>Team Lead</b></td>
              <td>{{coaching.team_lead}}</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td><b>Customer Name</b></td>
              <td>{{coaching.customer_name}}</td>
              <td><b>Customer Contact</b></td>
              <td>{{coaching.customer_contact}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td><b>Call Date</b></td>
              <td>{{coaching.call_date}}</td>
              <td><b>Call Duration</b></td>
              <td>{{coaching.call_duration}}</td>
            </tr>
          </tbody>
        </table>



        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr style="height:110px">
              <td><b>Areas of Improvement</b></td>
              <td>{{coaching.areas_improvement}}</td>
            </tr>
          <tr style="height:110px">
              <td><b>Positives</b></td>
              <td>{{coaching.positives}}</td>
            </tr>
          <tr style="height:110px">
              <td><b>Comments</b></td>
              <td>{{coaching.comments}}</td>
            </tr>

          </tbody>
        </table>

         <table class="table table-bordered">
          <thead>
            <tr><h4>Audit Score</h4></tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Total</b></td>
              <td>{{coaching.total_score}}</td>
              <td><b>Compliance</b></td>
              <td>{{coaching.compliance_total}}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <form class="login-form" action="/employees/coaching/signcoaching/{{coaching.id}}" method="post">
                  {% csrf_token %}
        <label for="emp_comments">Employee Comments</label><br>
        <input type="text" name="emp_comments" id="emp_comments" class="form-control" style="height: 140px">
        <br>
        <input class="btn btn-info" type="submit" value="Sign">
    </form>
</div>
</section>
{% endblock %}