{% extends 'base.html' %}
{% block main %}
{% load static %}

<section style="margin-top:100px">
    <div class="container-lg">
        <h4>Quality Report - <span style="color: darkblue;font-size: 28px;font-weight: 600">{{profile.emp_name}}</span></h4>
        <hr>
        <div class="row">

            {% for c in campaign %}
            <div class="col-md-2" style="margin-top:50px;padding-left:30px;">
               <h4><span style="color: firebrick;font-weight: 600">{{c.name}}</span></h4>
                <br>
                <h6><b>Quality Score - {{c.ov_avg|floatformat:2}}%</b></h6>
                <h6>Total feedbacks - {{c.feedbacks_count}}</h6>


            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}