{% extends 'base.html' %}
{% block main %}

    <section id="outboundform">
        <div class="container-lg">
            <form action="/employees/lead-sales-coaching-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-center">Lead Sales Monitoring Form</h2>
                <div class="basic">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="empname">Associate Name</label>
                            <select class="form-control" id="empname" required="required" name="empname">
                                <option value="{{agent.emp_name}}">{{agent.emp_name}}</option>
                            </select>
                            <label for="empid">Employee ID</label>
                            <input type="number" class="form-control" id="empid" name="empid" required value="{{agent.emp_id}}">
                        </div>
                        <div class="col-md-4">
                            <label for="qa">Quality Analyst</label>
                            <input type="text" class="form-control" id="qa" name="qa" value="{{user.profile.emp_name}}" required>
                            <label for="tl">Team Lead</label>
                            <input type="text" class="form-control" id="tl" name="tl" required value="{{team.tl.profile.emp_name}}">
                        </div>
                        <div class="col-md-4">
                            <label for="customername">Customer Name</label>
                            <input type="text" class="form-control" id="customername" name="cname" required>
                            <label for="customercontact">Customer Contact Number</label>
                            <input type="text" class="form-control" id="customercontact" name="ccontact" required>
                        </div>
                        <div class="col-md-4">
                            <label for="calldate">Call Date</label>
                            <input type="date" class="form-control" id="calldate" name="calldate" required>
                            <label for="auditdate">Audit Date</label>
                            <input type="date" class="form-control" id="auditdate" name="auditdate" required>
                        </div>
                         <div class="col-md-4">
                            <label for="campaign">Campaign</label>
                             <select class="form-control" id="campaign" required="required" name="campaign">
                                <option value="{{team.name}}">{{team.name}}</option>
                            </select>

                            <label for="zone">Zone</label>
                            <input type="text" class="form-control" id="zone" name="zone" required value="US">
                        </div>
                         <div class="col-md-4">
                            <label for="concept">Concept</label>
                            <input type="text" class="form-control" id="concept" name="concept" required>
                            <label for="callduration">Call Duration</label>
                            <input type="text" class="form-control" id="callduration" name="callduration" required>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="opening">
                    <div>
                        <h4>Opening & Closing</h4>
                        <label class="qn">Used Standard Opening Protocol</label>
                        <input type="radio" name="opening_1" value="yes" id="yes1" required>
                        <label for="yes1">Yes</label>
                        <input type="radio" name="opening_1" value="no" id="no1" required>
                        <label for="no1">No</label>
                    </div>
                    <div>
                        <label class="qn">Introduction of Product/Branding</label>
                        <input type="radio" name="opening_2" value="yes" id="yes2" required>
                        <label for="yes2">Yes</label>
                        <input type="radio" name="opening_2" value="no" id="no2" required>
                        <label for="no2">No</label>
                    </div>
                    <div>
                        <label class="qn">Call Closing as per the Protocol</label>
                        <input type="radio" name="opening_3" value="yes" id="yes3" required>
                        <label for="yes3">Yes</label>
                        <input type="radio" name="opening_3" value="no" id="no3" required>
                        <label for="no3">No</label>
                    </div>

                </div>
                <hr>
                <div class="softskills">
                    <div>
                        <h4>Soft Skill</h4>
                        <label class="qn">Followed Hold Procedure Appropriately/Dead Air</label>
                        <input type="radio" name="softskill_1" value="yes" id="yes6" required>
                        <label for="yes6">Yes</label>
                        <input type="radio" name="softskill_1" value="no" id="no6">
                        <label for="no6">No</label>
                    </div>
                    <div>
                        <label class="qn">Used Empathetic Statements whenever required</label>
                        <input type="radio" name="softskill_2" value="yes" id="yes7" required>
                        <label for="yes7">Yes</label>
                        <input type="radio" name="softskill_2" value="no" id="no7">
                        <label for="no7">No</label>
                    </div>
                     <div>
                        <label class="qn">Clear Grammar & Communication</label>
                        <input type="radio" name="softskill_3" value="yes" id="yes8" required>
                        <label for="yes8">Yes</label>
                        <input type="radio" name="softskill_3" value="no" id="no8">
                        <label for="no8">No</label>
                     </div>
                      <div>
                        <label class="qn">Acknowledged Appropriately</label>
                        <input type="radio" name="softskill_4" value="yes" id="yes9" required>
                        <label for="yes9">Yes</label>
                        <input type="radio" name="softskill_4" value="no" id="no9">
                        <label for="no9">No</label>
                      </div>
                      <div>
                        <label class="qn">Active Listening without Interruption</label>
                        <input type="radio" name="softskill_5" value="good" id="good" required>
                        <label for="good">Good</label>
                        <input type="radio" name="softskill_5" value="average" id="avg">
                        <label for="avg">Average</label>
                        <input type="radio" name="softskill_5" value="poor" id="poor">
                        <label for="poor">Poor</label>
                      </div>

                </div>
                <hr>
                <div class="business">
                    <div>
                        <h4>Business & Compliance</h4>
                        <label class="qn">Followed Policy & Procedure (Script)</label>
                        <input type="radio" name="business_1" value="yes" id="yes11" required>
                        <label for="yes11">Pass</label>
                        <input type="radio" name="business_1" value="no" id="no11">
                        <label for="no11">Fatal</label>
                    </div>
                    <div>
                        <label class="qn">Probing/Tactful finding/Rebuttal</label>
                        <input type="radio" name="business_2" value="yes" id="yes12" required>
                        <label for="yes12">Pass</label>
                        <input type="radio" name="business_2" value="no" id="no12">
                        <label for="no12">Fatal</label>
                    </div>
                    <div>
                        <label class="qn">Accurate Data Captured</label>
                        <input type="radio" name="business_3" value="yes" id="yes13" required>
                        <label for="yes13">Pass</label>
                        <input type="radio" name="business_3" value="no" id="no13">
                        <label for="no13">Fatal</label>
                    </div>
                    <div>
                        <label class="qn">Disposition done correctly</label>
                        <input type="radio" name="business_4" value="yes" id="yes14" required>
                        <label for="yes14">Pass</label>
                        <input type="radio" name="business_4" value="no" id="no14">
                        <label for="no14">Fatal</label>
                    </div>
                    <div>
                        <label class="qn">Inaccurate Information</label>
                        <input type="radio" name="business_5" value="yes" id="yes15" required>
                        <label for="yes15">Pass</label>
                        <input type="radio" name="business_5" value="no" id="no15">
                        <label for="no15">Fatal</label>
                    </div>
                    <div>
                        <label class="qn">Advisor Sounding Rude/Profinity</label>
                        <input type="radio" name="business_6" value="yes" id="yes16" required>
                        <label for="yes16">Pass</label>
                        <input type="radio" name="business_6" value="no" id="no16">
                        <label for="no16">Fatal</label>
                    </div>
                <hr>
            </div>
                <div class="other">
                    <h4>Areas of improvement</h4>
                    <textarea name="areaimprovement" id="areaimp" cols="30" rows="5" class="form-control" required></textarea>
                    <br>
                    <h4>Positives</h4>
                    <textarea name="positives" id="positives" cols="30" rows="5" class="form-control" required></textarea>
                    <br>
                    <h4>Comments</h4>
                    <textarea name="comments" id="comments" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div style="padding: 30px 30px">
                    <button class="btn btn-info"> Submit </button>
                </div>
            </form>
        </div>
    </section>


{% endblock %}
