

{% extends 'base.html' %}
{% block main %}
{% load static %}

    {% load crispy_forms_tags %}

<section id="header">
    <div class="container-fluid">
        <div class="row" style="height:700px">
            <div class="col-md-6" style="background: white;">

                <div>
                    <img src="{% static 'images/ecpl-logo-new.png' %}" alt="" class="img-fluid" style="width: 355px;margin-left: 23%;margin-top:235px">
                </div>
                <div>
                    <h2 style="color: #273943;font-size: 32px;margin: 6% 15%;font-weight: 800">Quality Management System</h2>
                </div>

            </div>
            <div class="col-md-6" style="background: #011c38e0;">
                <div class="loginform" style="color: white">
                    <i class="fa fa-sign-in" style="color:grey"></i><h2 class="form-header">Login</h2>
                    <br>
                    <form class="login-form" action="/employees/login" method="post">
                    {% csrf_token %}

                    {{form|crispy}}
                        <br>
                    <input class="btn btn-info" type="submit" value="Login">
                    </form>
                    <div style="padding: 10px 0px;color: orangered;font-size: 22px;margin-top: 20px">
                    {% for m in messages %}
                        {{m}}
                    {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}





