{% extends 'base.html' %}
{% block main %}
{% load static %}

<section id="profile">
    <div class="container-lg" style="padding-bottom: 20px;padding-top:50px;">
        <h2 style="color:white">Campaigns</h2>
        {% for team in teams %}
           <span style="color:gold">{{team.name}}</span>
        {% endfor %}

        <br>
        <div style="padding: 20px">
            <h4><a href="/employees/quality-dashboard-mgt">Quality Dashboard>></a></h4>
        </div>
    </div>

</section>





{% endblock %}