{% extends 'base.html' %}
{% block main %}
{% load static %}

<section id="profile">
    <div class="container-lg" style="padding-bottom: 20px;padding-top:50px;">
        <h2 style="color:white">Campaigns</h2>
        {% for team in teams %}
           <span style="color:gold">{{team.name}}</span>
        {% endfor %}

        <br>
        <div style="padding: 20px">
            <h4><a href="/employees/quality-dashboard-mgt">Quality Dashboard>></a></h4>
        </div>
    </div>

</section>

<section style="margin-top:100px">
    <div class="container-lg">
        <h2>Coaching Closure Status</h2><br>
        <div class="row" style="margin-left: 50px">
        {% for c in campaigns %}
        <div class="col-md-3" style="background: darkgray;padding: 20px;margin-right: 40px">
            <h4>{{c.name}}</h4>
            <table class="table">
                <tr>
                    <th>Total Coachings </th>
                    <td>{{c.total}}</td>
                </tr>
                <tr>
                    <th>Open Status</th>
                    <td>{{c.total_open}}</td>
                </tr>
                <tr>
                    <th>Closed Percentage </th>
                    <td>{{c.perc}}%</td>
                </tr>

            </table>
        </div>
        {% endfor %}
        </div>
    </div>
</section>



{% endblock %}