{% extends 'base.html' %}
{% block main %}

    <section id="outboundform">
        <div class="container-lg">
            <form action="">
                <div class="row">
                    <div class="col-md-4">
                        <label for="empname">Associate Name</label>
                        <input type="text" class="form-control" id="empname">
                        <label for="empid">Employee ID</label>
                        <input type="number" class="form-control" id="empid">
                    </div>
                    <div class="col-md-4">
                        <label for="qa">Quality Analyst</label>
                        <input type="text" class="form-control" id="qa">
                        <label for="tl">Team Lead</label>
                        <input type="text" class="form-control" id="tl">
                    </div>
                    <div class="col-md-4">
                        <label for="customername">Customer Name</label>
                        <input type="text" class="form-control" id="customername">
                        <label for="customercontact">Customer Contact Number</label>
                        <input type="text" class="form-control" id="customercontact">
                    </div>
                    <div class="col-md-4">
                        <label for="calldate">Call Date</label>
                        <input type="date" class="form-control" id="calldate">
                        <label for="auditdate">Audit Date</label>
                        <input type="date" class="form-control" id="auditdate">
                    </div>
                     <div class="col-md-4">
                        <label for="campaign">Campaign</label>
                        <input type="text" class="form-control" id="campaign">
                        <label for="zone">Zone</label>
                        <input type="text" class="form-control" id="zone">
                    </div>
                     <div class="col-md-4">
                        <label for="concept">Concept</label>
                        <input type="text" class="form-control" id="concept">
                        <label for="callduration">Call Duration</label>
                        <input type="text" class="form-control" id="callduration">
                    </div>
                </div>
                <h2>Opening</h2>
                <label for="">Used standard Opening protocol within 3 seconds</label>
                <input type="number">
            </form>
        </div>
    </section>


{% endblock %}