{% extends 'base.html' %}
{% block main %}
{% load static %}
<section id="profile">
    <div class="container-lg">
        <div class="row">

                            <div class="col-md-6" style="padding: 50px 30px">
                                <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 256px">Monitoring Forms</h2>
                                <br>
                                <div style="margin-left:10px">
                                    <p><a href="/employees/outbound-coaching-form">Outbound Monitoring Form</a></p>

                                    <p><a href="/employees/email-coaching-form">Email Monitoring Form</a></p>

                                    <p><a href="/employees/chat-coaching-form">Chat Monitoring Form</a></p>

                                    <p><a href="/employees/inbound-coaching-form">Inbound Monitoring Form</a></p>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding: 50px 30px">
                                <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 160px">Coachings</h2>
                                        <br>
                                <div class="row">

                                    <div class="col-md-6">
                                        <h4>Outbound</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{out_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{out_open_counts}}</span>
                                        <hr>
                                        <h4>Inbound</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{in_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{in_open_counts}}</span>
                                    </div>

                                    <div class="col-md-6">
                                        <h4>Email</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{out_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{out_open_counts}}</span>
                                        <hr>
                                        <h4>Chat</h4>
                                        <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{in_counts}}</span>
                                        <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{in_open_counts}}</span>
                                    </div>
                                </div>
                            </div>
        </div>
        <span style="color:white"><small style="color:grey">Employee Name :</small>{{user.profile.emp_name}}</span>
        <span style="color:white"><small style="color:grey">Employee ID :</small>{{user.profile.emp_id}}</span>
        <span style="color:white"><small style="color:grey">Email Address :</small>{{user.profile.email}}</span>
        <span style="color:white"><small style="color:grey">Team :</small>{{user.profile.team}}</span>
        <span style="color:white"><small style="color:grey">Designation :</small>{{user.profile.emp_desi}}</span>
    </div>

</section>

<section id="guidelines" style="padding-top:70px">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/guidelines.jpg' %}" alt="" class="img-fluid">

            </div>
            <div class="col-md-6">
                <h4 class="text-center" style="margin-top:20px">Monitoring Form Guidelines</h4>
                <ul>
                    <li><a href="">Outbound </a></li>
                    <li><a href="">Inbound </a></li>
                    <li><a href="">Chat </a></li>
                    <li><a href="">Email </a></li>
                </ul>

            </div>

        </div>
    </div>
</section>

<section style="padding-top:70px" id="empopencoachins">
    <div class="container-lg">
        <h2 class="text-center">Recent Coachings </h2><br>
        <div class="row">

                {% for coaching in out_coachings %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px;height: fit-content;">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Category</small>Outbound</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Closed Date</small>{{coaching.closed_date}}</h4>
                          <h4><small>Emp Comments</small>{{coaching.emp_comments}}</h4>
                          <a href="coaching-view-outbound-qa/{{coaching.id}}" style="color:greenyellow">View</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
                {% for coaching in in_coachings %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px;height: fit-content;">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Category</small>Inbound</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Closed Date</small>{{coaching.closed_date}}</h4>
                          <h4><small>Emp Comments</small>{{coaching.emp_comments}}</h4>
                          <a href="coaching-view-inbound-qa/{{coaching.id}}" style="color:greenyellow">View</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
                {% for coaching in email_coachings %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px;height: fit-content;">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Category</small>Email</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Closed Date</small>{{coaching.closed_date}}</h4>
                          <h4><small>Emp Comments</small>{{coaching.emp_comments}}</h4>
                          <a href="coaching-view-email-qa/{{coaching.id}}" style="color:greenyellow">View</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
                {% for coaching in chat_coachings %}
                <div class="col-md-6">
                    <div class="card" style="background:#203850; margin-bottom:20px;height: fit-content;">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Category</small>Chat</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Closed Date</small>{{coaching.closed_date}}</h4>
                          <h4><small>Emp Comments</small>{{coaching.emp_comments}}</h4>
                          <a href="coaching-view-chat-qa/{{coaching.id}}" style="color:greenyellow">View</a>
                      </div>
                    </div>
                </div>
                {% endfor %}


        </div>
    </div>
</section>





{% endblock %}