{% extends 'base.html' %}
{% block main %}
{% load static %}
<section id="profile">
    <div class="container-lg">
        <div class="row">

                            <div class="col-md-8" style="padding: 50px 30px">
                                <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 256px">Monitoring Forms</h2>
                                <br>
                                <div style="margin-left:10px">
                                    <p><a href="/employees/outbound-coaching-form">Outbound Monitoring Form</a></p>

                                    <p><a href="/employees/email-coaching-form">Email Monitoring Form</a></p>

                                    <p><a href="/employees/chat-coaching-form">Chat Monitoring Form</a></p>

                                    <p><a href="/employees/inbound-coaching-form">Inbound Monitoring Form</a></p>
                                </div>
                            </div>

                            <div class="col-md-4" style="padding: 50px 30px">
                                <h2 style="color:grey;border-bottom: 1px solid darkslategrey;width: 160px">Coachings</h2>
                                <br>

                                <small style="color:grey">Total</small><span style="color:White;margin-left:10px">{{counts}}</span>
                                <small style="color:grey;margin-left:30px;">Open status</small><span style="color:White;margin-left:10px">{{opencounts}}</span>

                            </div>
        </div>
    </div>

</section>

<section id="guidelines" style="padding-top:70px">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/guidelines.jpg' %}" alt="" class="img-fluid">

            </div>
            <div class="col-md-6">
                <h4 class="text-center" style="margin-top:20px">Monitoring Form Guidelines</h4>
                <ul>
                    <li><a href="">Outbound </a></li>
                    <li><a href="">Inbound </a></li>
                    <li><a href="">Chat </a></li>
                    <li><a href="">Email </a></li>
                </ul>

            </div>

        </div>
    </div>
</section>

<section style="padding-top:70px" id="empopencoachins">
    <div class="container-lg">
        <h2 class="text-center">Recent Coachings </h2><br>
        <div class="row">

                {% for coaching in coachings %}
                <div class="col-md-4">
                    <div class="card" style="background:#203850; margin-bottom:20px">
                      <div class="card-body" style="margin-left: 25px;padding: 30px 40px;">
                          <h4><small>Category</small>Outbound</h4>
                          <h4><small>Agent</small>{{coaching.associate_name}}</h4>
                          <h4><small>Audit date</small>{{coaching.audit_date}}</h4>
                          <h4><small>Audit By</small>{{coaching.qa}}</h4>
                      </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>
</section>





{% endblock %}