{% extends 'base.html' %}
{% block main %}
{% load static %}
<section class="profile_1" style="background-image: url(/static/images/dashboard.jpg);height: 355px;background-size: cover;">
    <div style="background: #2f374e;opacity: 77%;height: 355px">
        <div class="container-lg" style="padding-bottom: 20px">
            <div class="row">
                <div class="col-md-12" style="padding: 50px 30px">
                    <h2 style="color:white">Campaigns</h2>
                    <br>
                    <div>
                        <form action="/campaign-view" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span style="color: gold;font-size: 14px">Add Coaching</span>
                            <select name="campaign">
                            {% for team in teams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                             {% endfor %}
                            </select>
                            <br>
                            <br>
                            <button class="btn btn-primary">Add Coaching</button>
                        </form>
                    </div>
                </div>
            </div>
                <div class="profile-head">
                <span style="color:white"><small style="color:grey">Employee Name :</small>{{user.profile.emp_name}}</span>
                <span style="color:white"><small style="color:grey">Employee ID :</small>{{user.profile.emp_id}}</span>
                <span style="color:white"><small style="color:grey">Email Address :</small>{{user.profile.email}}</span>
                <span><a href="/employees/update-email-address/{{user.profile.emp_id}}">Update Email Address</a></span><br><br>
                <span style="color:white"><small style="color:grey">Team :</small>{{user.profile.team}}</span>

                <span style="color:white"><small style="color:grey">Designation :</small>{{user.profile.emp_desi}}</span>
                <span style="color:White;"><small style="color:grey">Total Coachings - </small>{{total_coaching}}</span>
            </div>
        </div>

    </div>
</section>
<div class="container-lg">
    <div>
        <h3 style="margin-top:50px;margin-left:50px;">Quality Details</h3>
    </div>
</div>

<div class="container-lg" style="margin-top: 50px">

    <br>
    <br>
    <div class="row">
        <div class="col-md-4">

            <form action="/employees/qahome" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="">Choose Month</label>
                    <select name="month" id="" class="form-control">
                        <option value="1" class="form-control">Jan</option>
                        <option value="2" class="form-control">Feb</option>
                        <option value="3" class="form-control">March</option>
                        <option value="4" class="form-control">April</option>
                        <option value="5" class="form-control">May</option>
                        <option value="6" class="form-control">June</option>
                        <option value="7" class="form-control">July</option>
                        <option value="8" class="form-control">August</option>
                        <option value="9" class="form-control">September</option>
                        <option value="10" class="form-control">October</option>
                        <option value="11" class="form-control">November</option>
                        <option value="12" class="form-control">Dec</option>
                    </select>
                    <label for="">Choose Year</label>
                    <select name="year" id="" class="form-control">
                        <option value="2021" class="form-control">2021</option>
                    </select>
                    <br>
                    <button class="btn btn-info">View</button>
                </form>
        </div>
        <div class="col-md-8" style="padding-top:25px">
            <div class="row">


            <div class="col-md-3" style="background: #011c38;color: white;box-shadow: 1px 1px 10px grey;margin: 10px 10px;padding: 25px">
            <h6 style="color:white">Quality Score</h6>

            {% for i in avg_campaignwise %}
                {% for j in i %}
                <div>
                    <span><small style="color:grey">{{j.process}}</small></span>
                    <span style="font-weight: 600;color: sandybrown;">{{j.davg|floatformat:2}}%</span>
                    <hr>
                </div>

                {% endfor %}
            {% endfor%}

        </div>

       <!------------------------------------------------

        <div class="col-md-3" style="background: #011c38;white: white;box-shadow: 1px 1px 10px grey;margin: 10px 10px;padding: 25px">
            <h6 style="color:white">Failed Audits</h6>
            {% for i in camp_wise_count %}
                {% for j in i %}
                <div>
                    <h4 style="font-weight: 600;color: sandybrown;">{{j.dcount}}</h4>

                </div>

                {% endfor %}
            {% endfor%}
        </div>
        <div class="col-md-3" style="background: #011c38;color: white;box-shadow: 1px 1px 10px grey;margin: 10px 10px;padding: 25px">
            <h6 style="color:white">Fatal Parameters</h6>

            {% for i in fatal_list %}
                {% for j in i %}
                <div>

                    <h4 style="font-weight: 600;color: sandybrown">{{j.dcount}}</h4>

                </div>

                {% endfor %}
            {% endfor%}
        </div>
        ------------------------------->
        </div>
            </div>


     </div>

</div>


<section id="guidelines" style="padding-top:70px;padding-bottom: 70px;margin-top:50px">
    <div class="container-lg">
         <h4>Monitoring Form Guidelines</h4>
        <div class="row">

            <div class="col-md-4">
                <br>
                <img src="{% static 'images/guidelines.jpg' %}" alt="" class="img-fluid" style="box-shadow:4px 4px 50px lightslategrey;">
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="/employees/outbound-monitoring-guidelines">Outbound </a></li>
                    <li><a href="/employees/inbound-monitoring-guidelines">Inbound </a></li>
                    <li><a href="/employees/chat-monitoring-guidelines">Chat </a></li>
                    <li><a href="/employees/email-monitoring-guidelines">Email </a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div style="margin-top: 60px;margin-left: 50px;">
                    <h2 style="color:grey">Coaching Details</h2>
                    <br>
                    <div>
                        <span>Open Status <a href="qa-open-status-coachings-view/{{user.id}}" style="background: #011c38;padding: 13px 23px;border-radius: 50%;color: white;font-size: 32px;margin-left: 10px">{{total_open}}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section style="margin: 50px 100px;background: #011c38;padding: 20px;color:white;">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6" style="padding: 20px 20px">
                <div>
                    <h2 style="color:grey">View Feedbacks</h2>
                    <br>
                    <form action="/employees/campaign-wise-coaching-view" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h6>Campaign</h6>
                        <select name="team_id" id="camp" class="form-control" style="width: 300px;font-size: 12px;height: auto">
                            {% for team in teams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <h6>status</h6>
                        <select name="status" id="" class="form-control" style="width: 300px;font-size: 12px;height: auto">
                            <option value="all">All</option>
                            <option value="False">Open status</option>
                        </select><br>
                        <h6>Date</h6>
                        <label for="">From</label>
                        <input type="date" name="start_date" class="form-control" style="width: 300px;font-size: 10px;height: auto">
                        <label for="">To</label>
                        <input type="date" name="end_date" class="form-control" style="width: 300px;font-size: 10px;height: auto">
                        <br>
                        <button class="btn btn-secondary" class="form-control">submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5" style="padding: 20px 20px">
                <h2 style="color:grey">Associate-wise Scores <small style="font-size: 14px">Top -10</small></h2>
                <br>
                <br>
                <table class="table" style="color:white;">
                    <tr>
                        <th>Agent Name</th>
                        <th>Audit Count</th>
                        <th>Score</th>
                    </tr>
                     {% for i in emp_wise_score %}
                    {% for j in i %}
                    <tr>
                        <td>{{j.associate_name}}</td>
                        <td>{{j.dcount}}</td>
                        <td>{{j.davg|floatformat:2}}%</td>
                    </tr>
                     {% endfor %}
                {% endfor %}
                </table>
            </div>

        </div>
    </div>
</section>

<section style="margin-top:100px">

    <h2 class="text-center">Open Coaching List</h2>
    <div class="container-lg" style="margin-top:50px">
        <div>


            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Audit Date</th>
                    <th>Ticket Number/customer Name</th>
                    <th>Process</th>
                </tr>

                {% for i in open_campaigns %}
                {% for j in i %}

                <tr>
                    <td>{{j.associate_name}}</td>
                    <td>{{j.overall_score}}</td>
                    <td>{{j.audit_date}}</td>
                    <td>{{j.ticket_no}}</td>
                    <td>{{j.process}}</td>
                    <td><a href="/employees/coaching-view-qa-all/{{j.process}}/{{j.id}}">View</a></td>

                </tr>

                {% endfor %}
                {% endfor %}

            </table>

        </div>
    </div>
</section>

<section style="margin-top:100px">
<div class="container-lg">
    <div class="row">
        <div class="col-md-5">
            <div style="margin-top:50px;overflow:scroll;height:300px;" >
                    <h4>Recent feedbacks by {{user.profile.emp_name}}</h4>
                    <table class="table">
                        {% for a in all_c_obj %}
                            {% for c in a %}
                                    <tr>
                                        <td>{{c.associate_name}}</td>
                                        <td>{{c.audit_date}}</td>
                                    </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
        </div>
    </div>

</div>
</section>

<!--------------------

<div class="container" style="margin-top:100px">
    <h2>Open Status - All</h2>
    <div class="row">

        {% for i in open_campaigns %}
            {% for j in i %}
                <div style="padding:30px">
                <p> Name -{{j.associate_name}}</p>
                 <p>process - {{j.process}}</p>
                 <p>QA - {{j.added_by}}</p>
                </div>
            {% endfor %}
                    <br>

        {% endfor %}
    </div>
</div>
-------------------------->



{% endblock %}
