{% extends 'base.html' %}
{% block main %}
{% load static %}

<section style="background: #011c38;padding: 70px;color: white">
    <div class="container-lg">
        <h2>Quality Dashboard</h2>
    </div>
</section>

<section style="padding: 75px" id="dashboardcampaigns">

    <div class="container-fluid" style="margin-top:50px">
        <h2 class="text-center">Category</h2>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h5 style="color: darkorange">Inbound</h5>
                <p style="font-size: 32px;color: lightgoldenrodyellow">{{inbound}}%</p>
                <a href="">View More</a>
            </div>
            <div class="col-md-3">
                <h5 style="color: darkorange">Outbound</h5>
                <p style="font-size: 32px;color: lightgoldenrodyellow">{{outbound}}%</p>
                <a href="">View More</a>

            </div>
            <div class="col-md-3">
                <h5 style="color: darkorange">Chat</h5>
                <p style="font-size: 32px;color: lightgoldenrodyellow">{{chat}}%</p>
                <a href="">View More</a>
            </div>
            <div class="col-md-3">
                <h5 style="color: darkorange">Email</h5>
                <p style="font-size: 32px;color: lightgoldenrodyellow">{{email}}%</p>
                <a href="">View More</a>
            </div>

        </div>
    </div>


    <div class="container-fluid" style="margin-top:100px">
        <h2 class="text-center">Campaigns</h2>
        <br>
        <div class="row">
            <div class="col-md-3">
                    <h5 style="color: darkorange">Noom-eva</h5>
                    <p style="font-size: 32px;color: lightgoldenrodyellow">{{eva_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5 style="color: darkorange">Noom-Pod</h5>
                    <p style="font-size: 32px;color: lightgoldenrodyellow">{{pod_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5 style="color: darkorange">Nucleus</h5>
                    <p style="font-size: 32px;color: lightgoldenrodyellow">{{inbound_avg_score}}%</p>
            </div>

            <!--------------------------------------->

            <div class="col-md-3">
                    <h5 style="color: darkorange">Test</h5>
                    <p style="font-size: 32px;color: lightgoldenrodyellow">99%</p>
            </div>
            <div class="col-md-3">
                    <h5 style="color: darkorange">Test1</h5>
                    <p style="font-size: 32px;color: lightgoldenrodyellow">98%</p>
            </div>
            <div class="col-md-3">
                    <h5 style="color: darkorange">Test2</h5>
                    <p style="font-size: 32px;color: lightgoldenrodyellow">96.5%</p>
            </div>


        </div>
    </div>


    <div class="container-fluid" style="margin-top:100px">
        <div class="row">
            <div class="col-md-6" style="background: cadetblue">
                <section style="margin:100px 100px">
                    <h4>Employee wise Quality Report</h4><br>
                    <div class="row" style="margin-left: 50px">
                                    <form action="/employees/employee-wise-report" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <label for="agent">Select Employee</label>
                                        <select name="emp_id" id="agent" class="form-control">
                                            {% for employee in employees %}
                                            <option value="{{employee.emp_id}}" class="form-control">{{employee.emp_name}}</option>
                                            {% endfor %}
                                        </select><br>

                                        <input type="hidden" value="{{team.name}}" name="team">

                                        <button class="btn btn-info">View Report</button>
                                    </form>
                    </div>
                </section>
            </div>
            <div class="col-md-6" style="background: cornflowerblue">
                <section style="margin:100px 100px">
                    <h4>Manager wise Quality Report</h4><br>
                    <div class="row" style="margin-left: 50px">
                                    <form action="/employees/manager-wise-report" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <label for="agent">Select Manager</label>
                                        <select name="emp_id" id="agent" class="form-control">
                                            {% for manager in managers %}
                                            <option value="{{manager.emp_id}}" class="form-control">{{manager.emp_name}}</option>
                                            {% endfor %}
                                        </select><br>

                                        <input type="hidden" value="{{team.name}}" name="team">

                                        <button class="btn btn-info">View Report</button>
                                    </form>
                    </div>
                </section>
            </div>

        </div>
    </div>
</section>


<section style="margin-top:100px">
    <div class="container-lg">
        <h2>Coaching Closure Status</h2><br>
        <div class="row" style="margin-left: 50px">
        {% for c in campaigns %}
        <div class="col-md-3" style="background: darkgray;padding: 20px;margin-right: 40px">
            <h4>{{c.name}}</h4>
            <table class="table">
                <tr>
                    <th>Total Coachings </th>
                    <td>{{c.total}}</td>
                </tr>
                <tr>
                    <th>Open Status</th>
                    <td>{{c.total_open}}</td>
                </tr>
                <tr>
                    <th>Closed Percentage </th>
                    <td>{{c.perc}}%</td>
                </tr>

            </table>
        </div>
        {% endfor %}
        </div>
    </div>
</section>


{% endblock %}