{% extends 'base.html' %}
{% block main %}
{% load static %}

<section style="background: #011c38;padding: 70px;color: white">
    <div class="container-lg">
        <h2>Quality Dashboard</h2>
    </div>
</section>

<section style="padding: 75px" id="dashboardcampaigns">

    <div class="container-fluid" style="margin-top:50px">
            <div class="row">
                <div class="col-md-12">
                    <h2>Category</h2>
                    <br>
                    <div class="row">
                    <div class="col-md-2">
                        <h5>Inbound</h5>
                        <p>{{inbound}}%</p>
                        <a href="/employees/inbound-summary">View More</a>
                    </div>
                    <div class="col-md-2">
                        <h5>Outbound</h5>
                        <p>{{outbound}}%</p>
                        <a href="/employees/outbound-summary">View More</a>

                    </div>
                    <div class="col-md-2">
                        <h5>Chat</h5>
                        <p>{{chat}}%</p>
                        <a href="/employees/chat-summary">View More</a>
                    </div>
                    <div class="col-md-2">
                        <h5>Email</h5>
                        <p>{{email}}%</p>
                        <a href="/employees/chat-summary">View More</a>
                    </div>

                    <div class="col-md-2">
                        <h5>Other</h5>
                        <p>{{other}}%</p>
                        <a href="/employees/other-summary">View More</a>
                    </div>
                    <div class="col-md-2">
                        <h5>Leads</h5>
                        <p>{{leads}}%</p>
                        <a href="/employees/leads-summary">View More</a>
                    </div>
                    </div>
            </div>
            <div class="col-md-6">

            </div>

        </div>
    </div>

</section>

<section>
    <div class="container-lg">
        <div>
            <img src="{% static 'charts/barchart.png' %}" alt="" class="img-fluid">
        </div>
    </div>
</section>

<section style="padding: 75px">

    <div class="container-fluid" style="margin-top:100px">
        <h2>Campaigns</h2>
        <br>
        <div class="row">
            <div class="col-md-3">
                    <h5>Noom-eva</h5>
                    <p>{{eva_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Noom-Pod</h5>
                    <p>{{pod_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Nucleus</h5>
                    <p>{{nuc_avg_score}}%</p>
            </div>

            <div class="col-md-3">
                    <h5>Fame House</h5>
                    <p>{{fame_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>FLA</h5>
                    <p>{{fla_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>MT Cosmetics</h5>
                    <p>{{mt_avg_score}}%</p>
            </div>

            <div class="col-md-3">
                    <h5>Tonn Chats Email</h5>
                    <p>{{ton_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Movement of Insurance</h5>
                    <p>{{mov_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Wit Digital</h5>
                    <p>{{wit_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Printer Pix- Chat Email</h5>
                    <p>{{pixchat_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Printer Pix- Inbound</h5>
                    <p>{{pixcall_avg_score}}%</p>
            </div>
            <div class="col-md-3">
                    <h5>Aadya </h5>
                    <p>{{aadya_avg_score}}%</p>
            </div>

        </div>
    </div>

</section>

<section style="margin:100px">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h2 style="color:grey">View Feedbacks</h2>
                    <br>
                    <form action="/employees/campaign-wise-coaching-view" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h5>Campaign</h5>
                        <select name="team_id" id="camp" class="form-control">
                            {% for team in teams %}
                            <option value="{{team.id}}">{{team.name}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <h5>status</h5>
                        <select name="status" id="" class="form-control">
                            <option value="all">All</option>
                            <option value="False">Open status</option>
                        </select><br>
                        <h5>Date</h5>
                        <label for="">From</label>
                        <input type="date" name="start_date">
                        <label for="">To</label>
                        <input type="date" name="end_date">

                        <button class="btn btn-primary" class="form-control">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





<section>

    <div class="container-fluid" style="margin-top:100px">
        <div class="row">
            <div class="col-md-6" style="background: cadetblue">
                <section style="margin:100px 100px">
                    <h4>Employee wise Quality Report</h4><br>
                    <div class="row" style="margin-left: 50px">
                                    <form action="/employees/employee-wise-report" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <label for="agent">Select Employee</label>
                                        <select name="emp_id" id="agent" class="form-control">
                                            {% for employee in employees %}
                                            <option value="{{employee.emp_id}}" class="form-control">{{employee.emp_name}}</option>
                                            {% endfor %}
                                        </select><br>

                                        <input type="hidden" value="{{team.name}}" name="team">

                                        <button class="btn btn-info">View Report</button>
                                    </form>
                    </div>
                </section>
            </div>
            <div class="col-md-6" style="background: cornflowerblue">
                <section style="margin:100px 100px">
                    <h4>Manager wise Quality Report</h4><br>
                    <div class="row" style="margin-left: 50px">
                                    <form action="/employees/manager-wise-report" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        <label for="agent">Select Manager</label>
                                        <select name="emp_id" id="agent" class="form-control">
                                            {% for manager in managers %}
                                            <option value="{{manager.emp_id}}" class="form-control">{{manager.emp_name}}</option>
                                            {% endfor %}
                                        </select><br>

                                        <input type="hidden" value="{{team.name}}" name="team">

                                        <button class="btn btn-info">View Report</button>
                                    </form>
                    </div>
                </section>
            </div>

        </div>
    </div>
</section>


<section style="margin-top:100px">
    <div class="container-lg">
        <h2>Coaching Closure Status</h2><br>
        <div class="row" style="margin-left: 50px">
        {% for c in campaigns %}
        <div class="col-md-3" style="background: darkgray;padding: 20px;margin-right: 40px">
            <h4>{{c.name}}</h4>
            <table class="table">
                <tr>
                    <th>Total Coachings </th>
                    <td>{{c.total}}</td>
                </tr>
                <tr>
                    <th>Open Status</th>
                    <td>{{c.total_open}}</td>
                </tr>
                <tr>
                    <th>Coaching Closure Percentage </th>
                    <td>{{c.perc}}%</td>
                </tr>

            </table>
        </div>
        {% endfor %}
        </div>
    </div>
</section>




{% endblock %}