{% extends 'base.html' %}
{% block main %}
<div class="container-lg" style="padding-top:100px;padding-bottom:50px">
    <h4>Power Bi Sample </h4>
</div>

<div class="container">

    <iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjhjZjJlODYtYjY1NC00MWQxLThiYmQtYzFhNDQ3M2NmNTIxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>


</div>

<div>

    <h2>private</h2>
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=57cdaa05-25b0-4be3-a481-3b91dd7e0923&autoAuth=true&ctid=9d80fd50-75ad-4215-9f1b-a630fab14954&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="container-lg">

    <div>
        <iframe width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjhjZjJlODYtYjY1NC00MWQxLThiYmQtYzFhNDQ3M2NmNTIxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

{% endblock %}