{% extends 'base.html' %}
{% block main %}
<div class="container-lg" style="padding-top:100px;padding-bottom:50px">
    <h3>Update Employee Profile</h3>
</div>

<div>

</div>
<div>
            <div class="col-md-5">
                <form action="/employees/update-profile" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <select name=""emp_id id="">
                        {% for f in profiles %}
                            <option value="">{{f.emp_name}} - {{f.emp_id}} </option>
                        {% endfor %}

                    </select>
                    <br>
                    <input class="btn btn-info" type="submit" value="Update Profile" style="margin-top:30px;">
                </form>
            </div>

</div>


<div class="container-lg">
        <div class="row">
            <div class="col-md-5">
            </div>
                <div style="margin: 20px 0px;color: red;font-size: 21px">
                    {% for m in messages %}
                        {{m}}
                    {% endfor %}
                </div>
        </div>
</div>

{% endblock %}