*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Maven Pro', sans-serif;
    background:#c3ccd5;
    

}

.navbar-nav li a
{

    color:black!important;
}

#outboundform input[type=radio]
{
    margin-left:50px;
}

#outboundform .qn
{
    min-width:500px;
}

#outboundform .opening,.softskills,.business,.callclosing,.compliance,.other,.basic,.customerexperience
{

    padding: 20px 30px;
}

#outboundform .col-md-4
{
    margin:20px 0px;
}

#coachingview td
{
    width:25%;
}



#header .heading
{
    display: flex;
    align-items: center;
    color: white;
    height: 50vh;
    justify-content: center;
}
#nav{
    background: black;
    height: 60px;
    padding: 10px 10px;
}
#nav .nav-link{
    color:white!important;
    letter-spacing:1px;
}
#nav .nav-link1{
    color:#adadff!important;
    letter-spacing:1px;
    display: block;
    padding: .5rem 1rem;
}

.loginform
{
    margin:150px 150px;
}
.btn-info {
    color: white;
    background-color: #011c38!important;
    border-color: #011c38!important;
    padding:3px 30px;
}

.btn-info:hover {
    color: #011c38;
    background-color: grey!important;
    border-color: grey!important;
}
.loginform .requiredField
{
    color:grey;
}
#profile {
    background: #011c38;
}
#profile .info td{
    color: white;
}
#profile .info td{
    border:none;
}

#profile h4 {
    color:#007bff;
    font-size: 16px;
}

.card-title,.card-text
{
    color:lightgrey;
    text-align:justify;
}

#profile .agentinfo small{

color:grey;
}
#profile .agentinfo span{
    margin-left:20px;
    color:#87a6c7;
}
#profile span{
    margin-left:20px;
}
.card
{
    height:190px;
}
#outboundform {
    margin:100px 0px;
}
#outboundform .container-lg {
    background: white;
    padding: 20px 30px;
    color: #010162;
}
#outboundform h4

{
    font-weight: 600;
    font-size: 21px;
}
#guidelines ul
{
    position: relative;
    width: 250px;
    margin: 40px auto 0;
    padding: 10px;
    box-sizing: border-box;
}

#guidelines ul li
{
    display: flex;
    background:#273a44;
    padding: 10px 20px;
    color: #fff;
    margin: 13px 0;
    transition: .5s;
    border-radius: 10px;
}

#guidelines ul li:hover
{
    transform: scale(1.06);
    background:#c3ccd5;
    color: black;

}
#empopencoachins small
{
    color:grey;
    font-size:14px;
    margin-right:20px;
}
#empopencoachins h4
{
    color:#007bff;
    font-size:16px;
}
#coachingview h2{
    text-align: center;
    padding: 10px 10px;
    font-size: 21px;
    font-weight: 600;
}
.basic .form-control{
    background: #ececf3;
    margin: 10px 10px;
}

#coachingsummary h4{
    color:#007bff;
    font-size: 16px;
}