*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Maven Pro', sans-serif;
    background:white;

}
h5{
    color: #101c48!important;
    font-size: 24px;
    font-weight: 600;
}

.navbar-nav li a
{

    color:black!important;
}

#outboundform input[type=radio]
{
    margin-left:50px;
}

#outboundform .qn
{
    min-width:500px;
}

#outboundform .opening,.softskills,.business,.callclosing,.compliance,.other,.basic,.customerexperience
{

    padding: 20px 30px;
}

#outboundform .col-md-4
{
    margin:20px 0px;
}

#coachingview td
{
    width:25%;
}



#header .heading
{
    display: flex;
    align-items: center;
    color: white;
    height: 50vh;
    justify-content: center;
}
#nav{
    background: #2f374e;
    height: 80px;
    padding: 25px 10px;
}
#nav .nav-link{
    color:white!important;
    letter-spacing:1px;
}
#nav .nav-link1{
    color:#adadff!important;
    letter-spacing:1px;
    display: block;
    padding: .5rem 1rem;
}

.loginform
{
    margin:150px 150px;
}
.btn-info {
    color: white;
    background-color: #011c38!important;
    border-color: #011c38!important;
    padding:3px 30px;
}

.btn-info:hover {
    color: #011c38;
    background-color: grey!important;
    border-color: grey!important;
}
.loginform .requiredField
{
    color:grey;
}

#profile_1 .info td{
    color: white;
}
#profile_1 .info td{
    border:none;
}

#profile_1 h4 {
    color:#007bff;
    font-size: 16px;
}

.card-title,.card-text
{
    color:lightgrey;
    text-align:justify;
}

#profile_1 .agentinfo small{

color:grey;
}
#profile_1 .agentinfo span{
    margin-left:20px;
    color:#87a6c7;
}
#profile_1 span{
    margin-left:20px;
}
.card
{
    height:190px;
}
#outboundform {
    margin:100px 0px;
}
#outboundform .container-lg {
    background: white;
    padding: 20px 30px;
    color: #010162;
}
#outboundform h4

{
    font-weight: 600;
    font-size: 21px;
}
#guidelines ul
{
    position: relative;
    width: 250px;
    margin-left:20px;
    margin-top:10px;

    padding: 10px 10px;
    box-sizing: border-box;
}

#guidelines ul li
{
    display: flex;
    background:#011c38;
    padding: 10px 20px;
    color: #fff;
    margin: 13px 0;
    transition: .5s;
    border-radius: 10px;
}

#guidelines ul li:hover
{
    transform: scale(1.06);
    background:#c3ccd5;
    color: black;

}
#empopencoachins small
{
    color:grey;
    font-size:14px;
    margin-right:20px;
}
#empopencoachins h4
{
    color:#007bff;
    font-size:16px;
}
#coachingview h2{
    text-align: center;
    padding: 10px 10px;
    font-size: 21px;
    font-weight: 600;
}
.basic .form-control{
    background: #ececf3;
    margin: 10px 10px;
}

#coachingsummary h4{
    color:#007bff;
    font-size: 16px;
}
#outbound .first{
    width:300px;
    font-weight: 600;
    font-size: 14px
}
#outbound .guidelines{
    width:275px;
}
#outboundform .qn{
    width:650px;
}

#dashboardcampaigns .col-md-4 {
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
}
#dashboardcampaigns a{
    color:cadetblue;
}

#dashboardcampaigns h6{
    font-weight: 600;
    color:white;
}

#dashboardcampaigns .col-md-2 {
    padding: 20px 20px;
    margin: 10px 10px;
    background: #2f374e;
    box-shadow: 1px 1px 10px lightgrey;
    border-radius: 7px;
    color:white;
}

#dashboardcampaigns .col-md-2:hover {
    padding: 20px 20px;
    margin: 10px 10px;
    background: black;
    box-shadow: 2px -1px 10px lightgrey;
    border-radius: 7px;
    color:white;
}

.campwisedetailtables{

    padding: 30px 30px;
    font-size: 14px;
    background: white;
}

.summary{
    background: #2f374e;
    padding: 18px;
    margin: 10px;
    color: white;
}
.summary:hover {
    background: #944000;
    padding: 18px;
    margin: 10px

    }

.summary:hover h6{
   color:white;
    }
.summary:hover h3{
   color:Gold;
    }



#qaweekly .weeks {
    padding: 10px 10px;
    background: aliceblue;
    margin:10px 10px;
    }
#qaweekly h6{
        font-size: 18px;
    color: darkcyan;
    font-weight: 600;
    padding: 10px;
    line-height: 24px;
}

#campaignwisereport .dateinput
{
    width: 123px;
    height: 23px;
    font-size: 8px;
}

#campaignwisereport .datelabel
{
    font-size:12px;
}

.allcoachings th,td{
    font-size:12px;
}
.agentprofile span{
    margin:20px;
}
.vertical-line{
        display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 10px;
    }

#summary .col-md-3
{
    margin: 50px 20px;
    box-shadow: 5px 5px 10px lightgrey;
    background: #2f374e;
    padding: 20px 40px;
    color: white;
}

#overview small
{
    color:grey;
}
.empwise{
    padding: 20px;box-shadow: 2px 2px 10px grey;

}
.h4empwose{
    color:Green;
}

.profile-head span {
    margin: 20px;
}

.scroll {
border: none;
padding: 30px 30px;
overflow: scroll;
}
::-webkit-scrollbar {
width: 12px;
height: 12px;
}
::-webkit-scrollbar-track {
border: None;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: grey;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: gold;
}

.profile-head i{
    color: white;
    margin-left: 20px;
}