*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Maven Pro', sans-serif;
    background: #bafbc9;

}
#navigation{
        background: #03380f;
}

.nav-link{
    color:#00ffc4!important;
}

#profile {
    padding: 40px;
    background: #024411;
    color: #fff;
}

#profile p{
    color:darkgrey;
}

#profile strong{
    color:gold;
}